body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,saddlebrown,salmon );
    width: 100%;
    height: 100vh;
}
.container{
    background-color: salmon;
    width: 300px;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;

}

.answer-buttons button{
    width: 100%;
    margin: 10px 0px;
    border: none;
    outline: none;
    padding: 10px 0px;
    text-align: left;
    background-color: silver;
    cursor: pointer;
    border-radius: 10px;
}

.answer-buttons button:hover{
    background-color: seashell;
}

#next{
    font-size: 22px;
    margin-top: 10px;
    background-color: sienna;
    display: none;
}

#next:hover{
    transform: scale(85%);
}

#submit{
    font-size: 22px;
    margin-top: 10px;
    background-color: sienna;
    display: none;
}

#submit:hover{
    transform: scale(85%);
}
