
body{
    text-align: center;
}
.container{
    width: 200px;
    background-color: navajowhite;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

#count{
  font-size: 60px;
  margin-bottom: 5px;
}